.page {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color: white;
    max-width: 1280px;
    min-width: 320px;
    background-color: #2a2c2f;
    margin: auto;
    padding: 28px 0 24px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-content: center;
}

@media screen and (max-width: 1152px) {
    .page {
        padding: 28px 0 24px 0;
    }
}

@media screen and (max-width: 896px) {
    .page {
        padding: 28px 0 24px 0;
    }
}

@media screen and (max-width: 544px) {
    .page {
        padding: 16px 0 24px 0;
    }
}


