.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-right: auto;
    margin-left: auto;
    width: 92.5%;
}

@media screen and (max-width: 1152px) {
    .header {
        width: 90.6%;
    }
}

@media screen and (max-width: 896px) {
    .header {
        width: 93.75%;
    }
}

@media screen and (max-width: 544px) {
    .header {
        width: 90%;
    }
}