.place {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: max-content 48px 1fr;
    grid-template-rows: max-content 1fr;
    -ms-grid-columns: 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px;
    justify-items: stretch;
}.place > *:nth-child(1) {
     -ms-grid-row: 1;
     -ms-grid-column: 1;
 }.place > *:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
  }.place > *:nth-child(3) {
       -ms-grid-row: 3;
       -ms-grid-column: 1;
   }.place > *:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

@media screen and (max-width: 1152px) {
    .place {
        -webkit-column-gap: 32px;
        -moz-column-gap: 32px;
        column-gap: 32px;
    }
}

@media screen and (max-width: 896px) {
    .place {
        -webkit-column-gap: 28px;
        -moz-column-gap: 28px;
        column-gap: 28px;
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 544px) {
    .place {
        -ms-grid-rows: max-content 32px max-content 32px max-content 32px max-content;
        grid-template-rows: repeat(4, max-content);
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        row-gap: 32px;
        margin-bottom: 50px;
    }
    .place > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .place > *:nth-child(2) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .place > *:nth-child(3) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    .place > *:nth-child(4) {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }
}
