.footer {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    margin: 92px auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 92.5%;
}

@media screen and (max-width: 1154px) {
    .footer {
        width: 90.6%;
    }
}

@media screen and (max-width: 896px) {
    .footer {
        width: 93.75%;
        margin-top: 88px;
    }
}

@media screen and (max-width: 731px) {
    .footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        margin: 64px auto 0 auto;
        width: 90%;
    }
}